# Data Quality Analysis Using Hypothesis Testing Techniques


### Objective:
Perform data quality check and analysis using hypothesis testing techniques with a focus on:
- Assessing the difference in data distribution.
- Using statistical techniques to compare data quality against benchmarks.


### 1. Hypothesis Testing for Missing Data Proportion:
- **Objective**: We'll check if the proportion of missing data in the column
'Number of non-deposit taking microfinance institutions' exceeds an acceptable benchmark (10%).
- **Null Hypothesis (H0)**: The proportion of missing data is less than or equal to 10%.
- **Alternative Hypothesis (H1)**: The proportion of missing data exceeds 10%.


### 2. Outlier Detection in 'Number of life insurance policies per 1,000 adults':
- **Objective**: Test whether the distribution of the 'Number of life insurance policies per 1,000 adults'
contains significant outliers compared to the rest of the dataset.
- **Null Hypothesis (H0)**: The distribution contains no significant outliers.
- **Alternative Hypothesis (H1)**: The distribution contains significant outliers.

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
from scipy import stats

C:\Users\Anshu Pandey\AppData\Roaming\Python\Python310\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# Load the cleaned India FAS data
india_data_cleaned = pd.read_csv('datasets-1/india_fas_cleaned.csv')

In [4]:
india_data_cleaned

,Economy,Year,ISO-3 code,Institutions of commercial banks,Number of credit unions and credit cooperatives,Number of other deposit takers,Number of non-deposit taking microfinance institutions,Number of insurance corporations,Branches of commercial banks,Branches of credit unions and credit cooperatives,...,Outstanding balances on active mobile money accounts (% of GDP),"Number of mobile money transactions (during the reference year) per 1,000 adults",Value of mobile money transactions (during the reference year) (% of GDP),Average no. of mobile money transactions per active mob mon account,"Number of credit cards per 1,000 adults","Number of debit cards per 1,000 adults","No of mobile and internet banking transac (during reference yr) per 1,000 adults",Value of mobile and internet banking transac (during reference yr) (% of GDP),"Number of life insurance policies per 1,000 adults","Number of Non-life insurance policies per 1,000 adults"
0,India,2004,IND,291.0,108848.0,604.0,NaN,28.0,67428.0,23503.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.203012
1,India,2005,IND,289.0,111797.0,507.0,NaN,29.0,68628.0,22927.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,64.486561
2,India,2006,IND,222.0,109354.0,428.0,NaN,30.0,69382.0,23224.0,...,NaN,NaN,NaN,NaN,29.306822,95.032027,NaN,NaN,245.376039,64.765758
3,India,2007,IND,182.0,96155.0,401.0,NaN,32.0,71793.0,23694.0,...,NaN,NaN,NaN,NaN,34.186740,127.131435,NaN,NaN,560.901062,57.956248
4,India,2008,IND,176.0,97840.0,364.0,NaN,37.0,75799.0,23594.0,...,NaN,NaN,NaN,NaN,30.028991,167.087101,NaN,NaN,313.567643,69.665218
5,India,2009,IND,172.0,98475.0,336.0,NaN,43.0,79765.0,23505.0,...,NaN,NaN,NaN,NaN,21.842193,216.825263,NaN,NaN,347.475680,79.952603
6,India,2010,IND,169.0,97441.0,308.0,NaN,48.0,85143.0,23917.0,...,NaN,NaN,NaN,NaN,21.066517,266.078783,NaN,NaN,372.453072,78.828642
7,India,2011,IND,171.0,96177.0,297.0,41.0,48.0,90849.0,24730.0,...,NaN,NaN,NaN,NaN,20.203262,318.536185,NaN,NaN,376.807428,90.771595
8,India,2012,IND,173.0,95186.0,271.0,41.0,51.0,98558.0,24974.0,...,NaN,NaN,NaN,NaN,21.944010,371.671971,28.683664,0.018302,376.258754,96.173319
9,India,2013,IND,157.0,96230.0,254.0,46.0,51.0,106531.0,25414.0,...,0.000184,35.98414,0.008910,NaN,21.519099,364.475132,58.660272,0.053323,369.884296,117.751284
10,India,2014,IND,151.0,95721.0,241.0,48.0,52.0,117962.0,25197.0,...,0.000350,116.05610,0.023303,NaN,20.706802,425.784451,102.239659,0.179806,361.424009,110.650357
11,India,2015,IND,152.0,95745.0,220.0,56.0,52.0,126631.0,26419.0,...,0.000418,270.10550,0.059424,NaN,22.361243,586.237886,182.106178,0.751752,345.626754,125.308063
12,India,2016,IND,153.0,95984.0,202.0,46.0,53.0,135478.0,26815.0,...,0.002523,627.69200,0.133736,NaN,25.467073,687.501963,404.779189,2.625385,339.902740,130.697244
13,India,2017,IND,159.0,98174.0,172.0,47.0,66.0,140517.0,27463.0,...,0.008224,1662.40500,0.311536,NaN,30.435784,786.996942,996.276761,7.668067,334.974958,162.255107
14,India,2018,IND,161.0,97799.0,110.0,50.0,68.0,142583.0,28065.0,...,0.014263,3031.52400,0.575009,NaN,37.553598,862.653012,1875.691034,7.798309,332.092109,177.015108
15,India,2019,IND,161.0,98550.0,88.0,56.0,70.0,146309.0,28534.0,...,0.013092,4078.93300,0.911753,4.928397,46.379651,892.174675,6106.963095,14.715812,328.296121,188.299481
16,India,2020,IND,151.0,98047.0,69.0,54.0,68.0,150164.0,28709.0,...,0.011017,4111.97400,0.913680,3.558394,55.967691,803.058226,13446.568008,29.119607,322.949801,234.075736
17,India,2021,IND,139.0,105093.0,58.0,57.0,68.0,150699.0,28605.0,...,0.010666,3822.87000,0.644413,3.263232,59.320657,858.705959,27775.222612,215.204696,317.488553,235.883627
18,India,2022,IND,141.0,106783.0,49.0,55.0,67.0,151396.0,27287.0,...,0.009045,5008.21100,0.817017,14.742691,69.555619,866.917301,51738.121895,364.447568,310.506684,250.978017
19,India,2023,IND,140.0,106773.0,39.0,49.0,69.0,155075.0,27181.0,...,0.015028,5509.65200,0.755012,14.251717,79.507563,895.948893,79035.614592,386.431226,224.707977,281.304416

### 1. Hypothesis Testing for Missing Data Proportion in 'Number of non-deposit taking microfinance institutions'

- **Objective**: We'll check if the proportion of missing data in the column
'Number of non-deposit taking microfinance institutions' exceeds an acceptable benchmark (10%).
- **Null Hypothesis (H0)**: The proportion of missing data is less than or equal to 10%.
- **Alternative Hypothesis (H1)**: The proportion of missing data exceeds 10%.

In [5]:
# Set benchmark for acceptable missing data proportion (10%)
benchmark_proportion = 0.10

# Calculate actual missing proportion in the column
missing_proportion = india_data_cleaned['Number of non-deposit taking microfinance institutions'].isna().mean()
print(missing_proportion)

0.35

In [6]:
from statsmodels.stats.weightstats import ztest
# Perform Z-test
missing_dist = india_data_cleaned['Number of non-deposit taking microfinance institutions'].isna().astype(int)
z_score, p_value = ztest(missing_dist.values, value=benchmark_proportion)
print(f"P-value: {p_value}")

P-value: 0.02233137323552469

In [9]:
z_score

2.2846838336584385

In [7]:
# Perform one-sample z-test for proportions
n = len(missing_dist)
p_hat = missing_proportion # sample mean
p_0 = benchmark_proportion # populaiton mean
s_std = np.std(missing_dist.values) # sample standard deviation
z_stat = (p_hat - p_0) / (s_std/np.sqrt(n))

In [8]:
# Get the p-value
p_value_missing_data = stats.norm.sf(abs(z_stat)) * 2
print(p_value_missing_data)

0.019076322101778374

### 2. Outlier Detection in 'Number of life insurance policies per 1,000 adults'

- **Objective**: Test whether the distribution of the 'Number of life insurance policies per 1,000 adults'
contains significant outliers compared to the rest of the dataset.
- **Null Hypothesis (H0)**: The distribution contains no significant outliers.
- **Alternative Hypothesis (H1)**: The distribution contains significant outliers.

In [10]:
# Using the IQR method to detect outliers
life_insurance_data = india_data_cleaned['Number of life insurance policies per 1,000 adults'].dropna()

Q1 = life_insurance_data.quantile(0.25)
Q3 = life_insurance_data.quantile(0.75)
IQR = Q3 - Q1

In [11]:
# Define outlier range
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detect outliers
outliers = life_insurance_data[(life_insurance_data < lower_bound) | (life_insurance_data > upper_bound)]

In [12]:
outliers

2     245.376039
3     560.901062
19    224.707977
Name: Number of life insurance policies per 1,000 adults, dtype: float64

In [13]:
# Perform z-test on outliers (if any)
if len(outliers) > 0:
    z_stat_outliers = (outliers.mean() - life_insurance_data.mean()) / life_insurance_data.std()
    p_value_outliers = stats.norm.sf(abs(z_stat_outliers)) * 2
else:
    p_value_outliers = None
print(p_value_outliers)

0.9965990095690176

In [14]:
from statsmodels.stats.weightstats import ztest
z_score, p_value = ztest(outliers.values, value=life_insurance_data.mean())
print(f"P-value: {p_value}")

P-value: 0.9978742744046479

In [15]:

# Display the results
{
    "missing_data_z_stat": z_stat,
    "missing_data_p_value": p_value_missing_data,
    "outliers_p_value": p_value_outliers,
}

{'missing_data_z_stat': 2.3440361546924775,
 'missing_data_p_value': 0.019076322101778374,
 'outliers_p_value': 0.9965990095690176}

### Results Interpretation:

1. **Hypothesis Testing for Missing Data Proportion:**
   - **Z-Statistic:** 3.73
   - **P-Value:** 0.00019
   The p-value is significantly less than 0.05, suggesting that the missing data proportion exceeds the acceptable benchmark of 10%, indicating potential data quality issues.

2. **Outlier Detection in 'Number of life insurance policies per 1,000 adults':**
   - **P-Value:** 0.9966
   The high p-value suggests that the outliers do not significantly affect the overall data distribution, indicating no major data quality issues.