# Working with Pandas

In [1]:
# Pandas Series: 1D Data
# Pandas DAtaframe: 2D data

In [2]:
import pandas as pd

In [ ]:
# pandas series
ps = pd.Series([23,25,26,34,35,37,37],name='Age')
ps

In [ ]:
# Pandas Dataframe
data = {"name":["Anshu","Nishanth","Veena","Madhavi","Naresh"],
        "city":["DEL","KUL","BLR","BLR","DEL"],
        "age":[43,27,25,24,26]}
df = pd.DataFrame(data)
df

In [ ]:
# selection
df.head(3)

In [ ]:
df.tail(2)

In [ ]:
df['name']

In [ ]:
df.name

In [ ]:
df[['name','age']]

In [ ]:
df[2:5]

In [13]:
df.iloc[2:3,0:2]

    name city
2  Veena  BLR

## Filtering

In [ ]:
df

In [ ]:
df['city']=="DEL"

In [ ]:
df[df['city']=="DEL"]

In [ ]:
df[df.age>25]

In [ ]:
# combine conditions
df[df.age>25][df.city=='DEL']

In [ ]:
# OR Condition

df[(df.age<30) | (df.city!='DEL')]

In [20]:
# AND Condition

df[(df.age>30) & (df.city=='DEL')]

    name city  age
0  Anshu  DEL   43

In [ ]:
df[df.name.isin(['Anshu','Nishanth'])]

In [ ]:
def get_name(value,letter='a'):
    if value[0].lower()==letter.lower():
        return True
    else:
        return False

df['name'].apply(get_name)

In [ ]:
df[df['name'].apply(get_name)]

In [ ]:
df[df.name.apply(lambda x:get_name(x,'n'))]

In [29]:
df[df.name.apply(lambda x:True if x[0].lower()=='n' else False)]

       name city  age
1  Nishanth  KUL   27
4    Naresh  DEL   26

# Data Import / Export

In [ ]:
# loading from CSV file
df = pd.read_csv("JPMCDS24/datasets-1/Bank_churn_modelling.csv")
df.shape

In [ ]:
df.head()

In [ ]:
# loading from excel file
df = pd.read_excel("JPMCDS24/datasets-1/Wholesale customers data.xlsx")
df.shape

In [ ]:
df.head()

In [ ]:
# loading data from JSON file
df = pd.read_json("JPMCDS24/datasets-1/server-metrics.json")
df.shape

In [ ]:
df.head()

In [ ]:
# loading data from web pages
df_list = pd.read_html("https://en.wikipedia.org/wiki/JPMorgan_Chase")
type(df_list)

In [ ]:
len(df_list)

In [ ]:
df_list[3]

In [44]:
df2 = df_list[3]

In [45]:
# export the dataframe to a CSV file
df2.to_csv("JPMC data.csv",index=False)